/tsconfig.production.tsbuildinfo
/tsconfig.tsbuildinfo
node_modules/**
.idea/
bin/
# nixpacks
out/
logs/
.vscode/
.DS_Store
eslint-results.sarif

# Yarn new stuff
.yarn/*
!.yarn/cache
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

.env*
!.env.local.example
.flaskenv*
!.env.project
!.env.vault

# Sentry Config File
.sentryclirc


.direnv