/tsconfig.production.tsbuildinfo
/tsconfig.tsbuildinfo
node_modules/**
.idea/
bin/
logs/
.vscode/
.DS_Store
eslint-results.sarif

.env

# Yarn new stuff
.yarn/*
!.yarn/cache
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

.env*
.flaskenv*
!.env.project
!.env.vault